@media only screen { 
  body {
         background-color: linen;
       }
}

body {
    font-family: monospace;
}

span.name {
    display: inline-block;
    font-weight: bold;
    padding: 0 0 2px;
}

span.path {
    display: inline-block;
    font-style: italic;
    padding: 0 0 1em;
}


@media only screen {  
  span.key {
             color: maroon;
           }
}

span.key {
    display: inline-block;
    font-weight: bold;
    margin-left: 40px;
    min-width: 200px;
}

span.value {
}

@media only screen {  
  span.analysis-title {
                        background-color: hsla(0, 100%, 90%, 0.3);
                      }
}


span.analysis-title {
    display: block;
    font-weight: bold;
    margin: 1em 0 0;
    padding-left: 10px;
    padding-bottom: 3px;
    border: 1px dashed red;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
}

@media only screen {  
  div.analysis {
                 background-color: hsla(0, 100%, 90%, 0.3);
               }
}

div.analysis {
    padding: 0 10px 10px 10px;
    white-space: pre;
    border: 1px dashed red;
    border-top: 0;
    border-radius: 0 0 15px 15px;
}

span.title {
    display: block;
    font-weight: bold;
    font-size: 40px;
}

span.reference {
    display: block;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    padding-bottom: 1em;
}

div.perex {
    padding: 0 10px 10px 10px;
    white-space: pre;
    border-bottom: 20px solid;
    margin-bottom: 10px;
}
